@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #273c56;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #142435;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 80px;
  width: 1100px;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}
.card {
  margin: 0 18px;
  padding: 10px;
}
.card p {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}
.header,
.footer {
  text-align: center;
}
h2 {
  font-size: 22px;
  margin: 0;
}
.card h1 {
  font-size: 50px;
  text-align: center;
}
.footer p {
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: #3754c2;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}
